.game {
    width: 600px;
    border-bottom: 1px solid #000;
    margin: auto;
    height: 200px;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/googe_dino.png);
    background-size: 50px 50px;
    display: block;
    position: relative;
    top: 150px;

}

#dont1 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top: 90px;
    display: none;
}
#dont2 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top: 90px;
    left: 150px;
    display: none;
}
#dont3 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top:  90px;
    left: 190px;
    display: none;
}
#live1 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top: 90px;
    display: block;
}
#live2 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top: 90px;
    left: 150px;
    display: block;
}
#live3 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top:  90px;
    left: 190px;
    display: block;
}
#dinodown {
    width: 75px;
    height: 36px;
    background-image: url(img/T-Rex_Game._-_Google_Chrome_18.02.2022_8_32_12.png);
    background-size: 73px 37px;
    position: relative;
    top: 165px;
    display: none;

}
#dinoh {
    width: 50px;
    height: 50px;
    background-image: url(img/googe_dno.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    display: none;
    animation: runn 1s infinite linear;
}
#dinow {
    width: 50px;
    height: 50px;
    background-image: url(img/ge_dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    display: none;
    animation: runn 1s infinite linear;
}
#dad {
    position: absolute;
    left: 220px;
    top: 40px;
    font-size: 30px;
    display: none
}
#www {
    position: absolute;
    left: 300px;
    top: 40px;
    font-size: 30px;
    display: none;
}
#cactus {
    width: 20px;
    height: 40px;
    background-image: url(img/Без\ названия.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: cactusMov 2s infinite linear;
}
#live {
    width: 40px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 41px 40px;
    position: absolute;
    top: 253px;
    left: 430px;
    
}
#dac {
    width: 40px;
    height: 40px;
    background-image: url(img/offline-sprited-2x.png);
    background-size: 41px 40px;
    position: absolute;
    left: 665px;
    top: 140px;
    animation: gor 8s infinite linear;
    }
.love {
    animation: love 4s infinite linear;
}
#cactus1 {
    width: 30px;
    height: 33px;
    background-image: url(img/1.png);
    background-size: 29px 30px;
    position: relative;
    top: 80px;
    display: none;
    left: 695px;
    animation: cactusMov 2s infinite linear;

}

#fe {
    position: absolute;
    left: 100px;
    top: 140px;
    font-size: 30px;


}
@keyframes gor {
    0% {
        left: 665px;
    }
    100% {
        left: 40px;
    }
}
@keyframes love {
0% {
    transform: rotate(360deg);
}
100% {
    transform: rotate(-360deg);
}
}
@keyframes cactusMov {
    0% {
        left: 580px;
    }
    100% {
        left:-20px;
    }
}
.jump {
    animation: jump 0.3s linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }
    10% {
        top: 140px;
    }
    30% {
        top: 130px;
    }
    40% {
        top: 100px;
    }
    50% {
        top:80px;
    }
    60% {
        top: 100px;
    }
    80% {
        top: 130px;
    }
    90% {
        top: 140px;
    }
    100% {
        top:150px;
    }
}

#qwe {
    position: absolute;

        top:250px;
        left: 600px;
        width: 180px;
        height: 70px;
}
#qw {
    position: absolute;

        top:250px;
        left: 150px;
        width: 180px;
        height: 70px;
}
@media (max-width: 768px) {
 #qwe {
     display:none;
 }   
}