
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: rgb(51, 122, 183);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

  
  .preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #e0e0e0;
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
.game {
    width: 600px;
    border-bottom: 1px solid #000;
    margin: auto;
    height: 200px;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/googe_dino.png);
    background-size: 50px 50px;
    display: block;
    position: relative;
    top: 150px;

}

#dont1 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top: 90px;
    display: none;
}
#dont2 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top: 90px;
    left: 150px;
    display: none;
}
#dont3 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top:  90px;
    left: 190px;
    display: none;
}
#live1 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top: 90px;
    display: block;
}
#live2 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top: 90px;
    left: 150px;
    display: block;
}
#live3 {
    position: absolute;
    width: 45px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 45px 41px;
    top:  90px;
    left: 190px;
    display: block;
}
#dinodown {
    width: 75px;
    height: 36px;
    background-image: url(img/T-Rex_Game._-_Google_Chrome_18.02.2022_8_32_12.png);
    background-size: 73px 37px;
    position: relative;
    top: 165px;
    display: none;

}
#dinoh {
    width: 50px;
    height: 50px;
    background-image: url(img/googe_dno.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    display: none;
    animation: runn 1s infinite linear;
}
#dinow {
    width: 50px;
    height: 50px;
    background-image: url(img/ge_dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    display: none;
    animation: runn 1s infinite linear;
}
#dad {
    position: absolute;
    left: 220px;
    top: 40px;
    font-size: 30px;
    display: none
}
#www {
    position: absolute;
    left: 300px;
    top: 40px;
    font-size: 30px;
    display: none;
}
#cactus {
    width: 20px;
    height: 40px;
    background-image: url(img/Без\ названия.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    }
.cactusmov {
    animation: cactusMov 2s infinite linear;
}
#f {
    position: absolute;
    left: 365px;
    top: -8px;
    width: 72px;
}

    
#live {
    width: 40px;
    height: 40px;
    background-image: url(img/live.png);
    background-size: 41px 40px;
    position: absolute;
    top: 253px;
    left: 380px;
    
}
#dac {
    width: 40px;
    height: 40px;
    background-image: url(img/offline-sprited-2x.png);
    background-size: 41px 40px;
    position: absolute;
    left: 665px;
    top: 146px;
    opacity: .3;
    }
.log {
    display: none;
}
.doc {    
    animation: gor 8s infinite linear;
 }

    .love {
    animation: love 4s infinite linear;
}
#hed {
    position: absolute;
    top: 100px;
    left: 60px;
    height: 200px;
    padding: 200px; /* Поля вокруг текста */
  border-radius: 25px;
background: rgb(247, 247, 247); /* Цвет фона */
}
#jum {
    position: absolute;
    top: -3px;
    width: -36px;
    left: 455px;
    height: -33px;
    padding: 176px;
    border-radius: 25px;
    background: rgb(224,224,224);
    opacity: .1;
    
}
#sit {
    position: absolute;
    top: -3px;
    width: -36px;
    left: -6px;
    height: -33px;
    padding: 176px;
    border-radius: 25px;
    background: rgb(224, 224, 224);
    opacity: .1;
    
    
}
#ff {
    position: absolute;
    left: 367px;
    top: 4px;
    display: none;
    height: 54px;
    width: 65px;





}
#cactus1 {
    width: 30px;
    height: 33px;
    background-image: url(img/1.png);
    background-size: 29px 30px;
    position: relative;
    top: 80px;
    display: none;
    left: 695px;
    animation: cactusMov 2s infinite linear;

}

#fe {
    position: absolute;
    left: 127px;
    top: 85px;
    font-size: 30px;

}
@keyframes gor {
    0% {
        left: 665px;
    }
    100% {
        left: 220px;
    }
}
@keyframes love {
0% {
    transform: rotate(360deg);
}
100% {
    transform: rotate(-360deg);
}
}
@keyframes cactusMov {
    0% {
        left: 580px;
    }
    100% {
        left:-20px;
    }
}
@keyframes trg {
    0% {
        left: 755px;
    }
    100% {
        left:150px;
    }
}
.jump {
    animation: jump 0.3s linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }
    10% {
        top: 140px;
    }
    30% {
        top: 130px;
    }
    40% {
        top: 100px;
    }
    50% {
        top:80px;
    }
    60% {
        top: 100px;
    }
    80% {
        top: 130px;
    }
    90% {
        top: 140px;
    }
    100% {
        top:150px;
    }
}


#qwe {
    position: absolute;
    top:250px;
    left: 600px;
    width: 180px;
    height: 70px;
    padding: 0px; /* Поля вокруг текста */
    border-radius: 25px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    display: none;
    display: none;
      }
    #qwe:hover {
    background-position: right center;
    }
    #qw {
        position: absolute;
        top:250px;
        left: 150px;
        width: 180px;
        height: 70px;
        padding: 0px; /* Поля вокруг текста */
        border-radius: 25px;
        background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
        background-size: 200% auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        transition: .5s;
        display: none;
          }
        #qw:hover {
        background-position: right center;
        }

